{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper mt-5 product-item mb-5">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <h1>Ручка шариковая с грипом, Nove</h1>
            </div>

            <div class="col-sm-4">
                <div class="product-item-thumb d-flex justify-content-center">
                    <img src="img/2.jpg" alt="">
                </div>

            </div>

            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-6">
                            <span class="item-status">
                                <i class="far fa-pause-circle text-danger"></i> Нет в наличии
                            </span>

                    </div>


                </div>

                <hr>




                <div class="card-desc">
                    <p>Цвет чернил: синий.</p>
                    <p>Толщина линии письма: 0.9 мм.</p>
                    <p>Длина сменного стержня: 128 мм.</p>
                    <p>Диаметр пишущего узла: 1 мм.</p>
                    <p>Чернила на масляной основе: да.</p>
                </div>

            </div>


        </div>
    </div>
</div>


<div class="modal fade cart-modal" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Картинка</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4" align="right">Товаров: 0 <br> Сумма: 0 руб.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оформить заказ</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>

{% endblock %}