{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper mt-5 product-item mb-5">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <h1>Ручка Berlingo</h1>
                </div>
                
                <div class="col-sm-4">
                    <div class="product-item-thumb d-flex justify-content-center">
                        <img src="img/1.jpg" alt="">
                    </div>
                    
                </div>

                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-price">
                                <del>39 рубля</del>
                                34 рубля

                            </div>
                        </div>
                        
                        <div class="col-md-6">
                            <form class="form-inline">
                                <div class="input-group">
                                    <input type="text" name="qty" value="1" class="form-control">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Купить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <hr>




                    <div class="card-desc">
                        <p>Цвет чернил: синий.</p>
                        <p>Толщина линии письма: 0.7 мм.</p>
                        <p>Длина сменного стержня: 138 мм.</p>
                        <p>Диаметр пишущего узла: 1.1 мм.</p>
                        <p>Чернила на масляной основе: да.</p>
                    </div>
                    
                </div>


            </div>
        </div>
    </div>>


<div class="modal fade cart-modal" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Картинка</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4" align="right">Товаров: 0 <br> Сумма: 0 руб.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оформить заказ</button>
            </div>
        </div>
    </div>
</div>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/main.js"></script>
{% endblock %}