{% extends 'base.html.twig' %}

{% block body %}

<div class="wrapper mt-5">
    <div class="container">
        <div class="row">

            <div class="product-cards mb-5">



                <div class="product-card">
                    <div class="card-thumb">
                        <a href="{{ path('product11_action') }}"><img src="img/11.jpg" alt=""></a>
                    </div>
                    <div class="card-caption">
                        <div class="card-title">
                            <a href="{{ path('product11_action') }}">Степлер Attache 8215</a>
                        </div>
                        <div class="card-price text-center">
                            240 руб.
                        </div>
                        <button type="button" class="btn btn-info btn-block card-addtocart">
                            <i class="fas fa-cart-arrow-down"></i> Купить
                        </button>
                        <div class="item-status">
                            <i class="fas fa-check text-success"></i> В наличии
                        </div>
                    </div>
                </div>


            </div>

        </div>


    </div>
</div>

<div class="modal fade cart-modal" id="cart-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Корзина</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Картинка</th>
                        <th scope="col">Название</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td colspan="4" align="right">Товаров: 0 <br> Сумма: 0 руб.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Оформить заказ</button>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>

{% endblock %}