body {
	min-width: 320px;
}

img {
	max-width: 100%;
	height: auto;
}

.product-cards {
	display: flex;
	flex-wrap: wrap;
}

.product-card {
	border: 1px solid #ddd;
	transition: all .5s;
	padding: 10px 20px;
	position: relative;
	float: left;
	width: 220px;
	height: 370px;
	word-wrap: break-word;
}

.product-card:hover {
    box-shadow: 0 2px 16px rgba(0,0,0,.24);
    /*transform: translateY(-5px);*/
}

.offer {
	color: #fff;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10;
	text-transform: uppercase;
}

.offer > div {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
	margin-bottom: 3px;
	font-size: 14px;
}

.offer-hit {
	background-color: #ff8400;
}

.offer-sale {
	background-color: #007bff;
}

.card-thumb {
	height: 150px;
	text-align: center;
}

.card-thumb img {
	max-height: 150px;
}

.card-caption {
	margin-top: 20px;
}

.card-title {
	height: 55px;
	overflow: hidden;
}

.card-title a {
	color: #354751;
}

.card-price {
	font-size: 16px;
	margin-top: 15px;
	color: #ec4835;
}

.card-price del, .product-buy del {
	color: #337ab7;
}

.product-card .item-status {
	position: absolute;
	bottom: 5px;
}

.cart-modal img {
	max-height: 50px;
}

.product-item-thumb {
	padding: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.product-item-thumb img {
	max-height: 500px;
}

@media only screen and (max-width : 734px) {
	.product-cards{
		justify-content: center;
	}
}

.green {
	background-color: #354751;
	margin-left: 25px;
}