{% extends 'base.html.twig' %}

{% block body %}
    <p>Hello world {{ dateBr|date }}</p>
    <ul>
        {% for phrase in phrases %}
            <li>{{ phrase }}</li>
        {% endfor %}
    </ul>
    <a href="{{ path('testf_action') }}">Bay Bay</a>
{% endblock %}
