<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

        <link rel="stylesheet" href="/css/main.css">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{{ path('index_action') }}">Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('index_action') }}">Все товары <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('discounts_action') }}">Скидки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('pen_action') }}">Ручки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('notebook_action') }}">Тетрадки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('calculator_action') }}">Калькуляторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('glue_action') }}">Клей</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('stapler_action') }}">Степлеры</a>
                </li>
                <li class="nav-item">
                    <button  type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart-modal">
                        Корзина <span class="badge badge-light"></span>
                    </button>
                </li>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <button type="button" class="btn btn-link"><a href="{{path('app_logout') }}">Выйти</a></button>
                    {% else %}
                        <button type="button" class="btn btn-link"><a href="{{path('app_login') }}">Войти</a></button>
                        <button type="button" class="btn btn-link"><a href="{{path('app_register') }}">Регистрация</a></button>
                    {% endif %}
            </ul>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        </div>
    </nav>
</header>
        {% block body %}{% endblock %}
    </body>
</html>

